.teams {
  color: hsl(var(--font-color-category));
  grid-template-columns: repeat(4, 1fr);
  z-index: -1;
  flex-wrap: wrap;
  padding: 0.25rem;
  margin: var(--margin);
  background-color: hsl(var(--color-background));
}

@media only screen and (max-width: 900px) {
  .teams {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 350px) {
  .teams {
    grid-template-columns: repeat(1, 1fr);
  }
}

.name-button {
  padding: 0rem 1rem 0rem;
  border-radius: 0.25rem;
  position: fixed; /*do not use ABSOLUTE, that will move the button on scroll*/
  bottom: 20%;
  right: 0%;
  width: clamp(100px, 12vw, 200px);
  border: none;
  font-family: var(--ff-serif);
  color: hsl(var(--font-color-primary));
  font-size: var(--fs-200);
  z-index: 4;
  background-color: hsl(var(--color-background));
  border: 0.25em solid hsl(var(--color-accent));
  cursor: pointer;
}
