.team-page {
  width: calc(100% - 12.5vw);
  position: relative;
  padding: 0 0.5em;
  background-color: hsl(var(--color-background));
  margin: var(--margin);
}

.logo-container {
  position: fixed;
  right: 2.5vmin;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  fill-opacity: 0;
}

.logo {
  width: 25vw;
  height: 25vw;
  transform: translate(50%);
}

.stats-container {
  margin: var(--margin);
  padding: 0.5em 0.5em;
  background-color: hsl(var(--color-background));
  color: hsl(var(--font-color-primary));
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
