.header {
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  padding: 0.5em var(--padding);
  margin: var(--margin);
  background-color: hsl(var(--color-background));
}
h3 {
  font-family: var(--ff-name);
  margin: 0 0.25em;
  color: hsl(var(--font-color-primary));
}

.nav {
  margin: 0 0.5em;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-decoration: solid;
}
.link {
  margin: 0 0.5em;
  color: hsl(var(--font-color-category));
  text-decoration: none;
  font-family: var(--ff-serif);
  font-size: var(--fs-200);
  font-weight: bold;
}
